*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{

    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    border: dotted;
    flex-wrap:wrap;
    overflow: hidden;
    position: relative;
    width: 960px;
    margin-top: 200px;
}

.cells{
    border-color: red;
}